%define title "GTK+ - Books"
%include site_top         standard/site_top.ftl
%include site_bottom      standard/site_bottom.ftl
%include section_header   standard/section_header.ftl

$site_top

<table border=0 cellpadding=0 cellspacing=0><tr><td valign=top>

%define section_title Published Books
$section_header

<P>
This section isn't available yet.
</P>

</td></tr></table>

$site_bottom
