%define title "GTK+ - Login"
%include site_top         standard/site_top.ftl
%include site_bottom      standard/site_bottom.ftl
%include section_header   standard/section_header.ftl

$site_top

<table border=0 cellpadding=0 cellspacing=0><tr><td valign=top>

%define section_title Login 
$section_header


<form>
<table>
<tr>
<td>
<B>Username</B>
</td>
<td>
<input type=text name=username>
</td>
</tr>
<tr>
<td>
<B>Password</B>
</td>
<td>
<input type=password name=password>
</td>
</tr>
</table>

</form>


</td></tr></table>

$site_bottom
