<table width="100%" cellspacing=0 cellpadding=2 border=0>
<tr>
<td bgcolor="#000000">
<table width="100%" cellspacing=0 cellpadding=4 border=0>
<tr>
<td bgcolor="#EEAAAA">
<font face="lucida,helvetica" size="+1">                                        
<B>
$box_right_title
</B>
</font>
</td>
</tr><tr>
<td bgcolor="#FFFFFF" width=250>
