<table width="100%" cellspacing=0 cellpadding=2 border=0>
<tr>
<td bgcolor="#000000">
<table width="100%" cellspacing=0 cellpadding=4 border=0>
<tr>
<td bgcolor="#AAAAEE" nowrap>
<B>
$box_sidebar_title
</B>
</td>
</tr><tr>
<td bgcolor="#FFFFFF" nowrap>
