<table cellspacing=0 cellpadding=2 border=0>
<tr>
<td bgcolor="#000000">
<table border=0 cellpadding=4 cellspacing=0>
<tr><td bgcolor="#AAEEAA" nowrap>
<font face="lucida,helvetica" size="+1">
&nbsp; &nbsp; 
<B>
$section_title
</B>
&nbsp; &nbsp;
</font>
</td></tr>
</table>
</td></tr>
</table>
<br>

